*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: rgb(110, 36, 120);
 
}
body{
    box-sizing: border-box;
    background-color: rgb(53, 33, 110);
    color: rgb(185, 202, 255);
    display: flex;
    flex-direction: column;
    font-family: 'Solway', serif;
    height: 100vh;
     
}

/* ............................................navegador......................................... */
.circulo{
    margin: 3%;
    color: rgb(255,35,140);
    font-weight: 400;
    padding: 2%;
    background-color: rgb(185, 202, 255);
    
}
.circulo:hover{  
    background-color: rgb(140,125,250);
    border-radius: 20px;   
}
    
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   background-color: rgb(185, 202, 255);
   color: rgb(255,35,140);
   
   font-size: 1.3em;
  
 
}
.others{
    height: 100% ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* ..............................................encabezado.......................................... */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    height: 30%;
    margin: 10%;
}
.imagen1{
    height: 300px;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.titulo{
    display: flex;
    flex-direction: column;
    margin: 0 40% 0 0%;
}
.nombr{
    font-weight: 700;
    color: rgb(255,35,140);
}
/* .....................................................Habilidades....................................... */
.habil{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
    
}
.skills{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    
}
.vlemclas{
    font-size: 7em;
    background-color: rgb(140,125,250);
    margin: 2%;
    padding: 3%;
    border-radius: 50%;
    border: solid 3px rgb(185, 202, 255) ;
}
/* .....................................................Cita................................................ */
.cita{
    padding: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(140,125,250);
    color: rgb(70,0,120);
    border-radius: 15px;
    margin: 13% 3%;
    border: solid 3px rgb(185, 202, 255) ;
}
/* .....................................................Proyectos............................................... */
.principal-proyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2% 5% 2%;
    
}
.img-proyect{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 80px;
    background-color: rgb(140,125,250);
    box-sizing: border-box;
    border-radius: 15px;
    border: solid 3px rgb(185, 202, 255) ;
    margin: 2%;
    
}
.proyecto{
    font-size: 3em;
}
/* ...............................................formulario................................................... */
.contacto-main{
    padding: 2% ;
    margin: 2%;
    background-color: rgb(110, 94, 228);
    display: flex;
    flex-direction: row;
    border: solid 2px rgb(185, 202, 255);
    border-radius: 20px;
    
}
.con-letras{
    padding: 0 20% 0 0;
    font-size: 2em;
}


.con-titulo{
    padding: 3% 0;
     font-size: 2em;
}
.form{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    left: 0;
    
}
.nombre-apellido{
    display: flex;
    flex-direction: row;
    padding: 0 0 3% 0;
   
}
.input-nombres{
    background-color: rgb(185, 202, 255);
    width: 40%;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.5%;
    
}
.input-mail{
    background-color: rgb(185, 202, 255);
    border: none;
    width: 40%;
    height: 2.5em;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1.5%;
    
    
}
.input-mensaje{
    background-color: rgb(185, 202, 255);
    border: none;
    width: 90%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1%;
    
    
}



